    :root {
    --heading-font: "Cormorant Garamond", serif;
    --body-font: "Source Sans 3", "sans-serif";
    --navy: #334155;
    --light-blue: #8fafc1;
    --peach: #e6b8a2;
    --orange: #e4662c;
    --slate: #6b7280;

}

* {
    font-family: var(--body-font);
    box-sizing: border-box;
    color: var(--navy);
    margin: 0;
    padding: 0;
   
}

.page-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

 h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
    }


/* header */

.header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    
    & div {
        padding: 0;
        margin: 0;
    }
}

h1 {
    font-family: var(--body-font);
    color: var(--light-blue);
    font-size: 4rem;
    padding: 0;
    margin: 0;
    font-weight: bolder;


}
#orange {
    color: var(--orange);
    
}

h2 {
    font-style: oblique;
    text-align: right;
    margin: 0;
    padding: 0;
}

/* Navigation */

.nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: #8fafc180;
    margin-top: 5px;
    

    & li {
       
        list-style: none;

        & a {
            display: flex;
            align-items: center;
            padding: 20px 20px;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2rem;
            height: 100%;

            &:hover {
                background-color: var(--navy);
                color: white;
                height: 100%;
            }

        }
        
    }


}

/*Search Page*/

#loc-form {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    border: 2px solid var(--navy);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    
    }

#loc-form label {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin: 10px;
}

#loc-form button {
    background-color: var(--orange);
    color: white;
    border: none;
    width: auto;
    display: inline-block;
    align-self: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    font-weight: bolder;
    font-size: 1.2rem;

}

#list-title {
    font-size: 2rem;
}

.bird-li {
    display: flex;
    flex: row;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    background-color: #e6b8a250;
    border-radius: 20px;

    & h4 {
        font-size: 1.5rem;
        text-align: center;
    }

}

/* Footer */

.footer {
    text-align: center;
}