    :root {
    --heading-font: "Cormorant Garamond", serif;
    --body-font: "Source Sans 3", "sans-serif";
    --navy: #334155;
    --light-blue: #8fafc1;
    --peach: #e6b8a2;
    --slate: #6b7280;

}

* {
    font-family: var(--body-font);
    box-sizing: border-box;
    color: var(--navy);
   
}

 h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
    }