@media only screen and (min-width: 64rem){

    #bodCard {
        position: relative;
        display: grid;
         grid-template-columns: 2fr 3fr;
         width: 95%;
         margin: 0 auto;
         animation: slidein;
         animation-duration: 2s;
    }

    @keyframes slidein {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    #bodImg {
      
        align-self: center
       
    }
    .bird-link {
    position: absolute;
    left: 90%;
    bottom: 5%;
    
   
}
}
