@media only screen and (min-width: 64rem){

    .nav {
        /* transform: none !important; */
        position: static;
        display: flex !important;
        flex-direction: row;
        gap: 1rem;
        padding: 0;
        width: auto;
        background: var(--navy);
        color: white;
        width: auto;
        max-height: none;
        overflow: visible;
        opacity: 1;
        transition: none;
    }



    #ham-btn {
    display: none;
    
    }
    #bodCard {
        position: relative;
        display: grid;
         grid-template-columns: 1fr 3fr;
         width: 75%;
         margin: 0 auto;
         animation: slidein;
         animation-duration: 2s;
    }

    @keyframes slidein {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    #bodImg {
      
        align-self: center
       
    }
    .bird-link {
    position: absolute;
    left: 90%;
    bottom: 5%;
    
   
}

fieldset {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

 #weather-data {
    display: flex;
        flex-direction: row;
        align-items: stretch;
       gap: 8px;
    }
   
    #weather-today, #weather-forecast, #map {
        flex: 1 1 0;
    }

    #weather-today, #weather-forecast, #map {
    flex: 1 1 0;
    min-width: 0;
    }

    

#map iframe {
    width: 100%;
    height: 100%;
}

#user-libs {
    flex-direction: row;
    justify-content: space-around;


    
}
}
